---
import BaseLayout from '$/layouts/BaseLayout.astro'
import BlogList from '../../../components/page/Blog/BlogList.svelte'
import slug from '../../../components/scripts/slug.js'

export async function getStaticPaths({paginate}) {
  const allPosts = Astro.fetchContent('$/pages/blog/*.md');
  let allTags = [];
  allPosts.map(p => {
    if (p.tags) {
      p.tags.map(t => {
        allTags.push(slug(t));
      });
    };
  });
  let allTagsUnique = [...new Set(allTags)]

  return allTagsUnique.map(tag => ({params: {tag}, props: {allPosts}}));
}

const { allPosts } = Astro.props;
const { params } = Astro.request;

/** filter posts by author, sort by date */
const posts = allPosts
  .filter((post) => post.tags ? slug(post.tags.join()).includes(params.tag) : false)
  .sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
---

<BaseLayout
  title={params.tag + " | Blog Posts"}
  description={"Blog posts with the tag " + params.tag}
  customHeader
>
  <div slot="customHeader" class="container">
    <h3>Blog posts with the tag:</h3>
    <h1>{params.tag}</h1>
  </div>
  <BlogList posts={posts} />
</BaseLayout>