---
import Header from '../components/ui/Header/Header.svelte';
import Footer from '../components/ui/Footer.svelte';
import RelatedPages from '../components/ui/RelatedPages.svelte';
const {
  title,
  image,
  description,
  pageDescription,
  intro,
  hideHeader=false,
  hideTitle=false,
  hideDescription=false,
  noContainer=false,
  relatedPages,
  pageHeadBackgroundColour,
  customHeader
} = Astro.props;
const pageTitle = title ? title + " | Future Super" : "Future Super | Ethical & Sustainable Superannuation";
const pageImage = image ? image : "https://www.futuresuper.com.au/images/future-super-og.png";
const seoDescription = description ? description : "Your super has the power to combat climate change, let’s put it to work.";
---

<style lang="scss">
  @use "../styles/" as *;

  .behind-header {
    height: 124px;
    background-color: $black;
  }

  .page-header {
    background-color: $black;
    color: $white;
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }

  .page-title-and-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
      max-width: 50%;
    }

    h3 {
      max-width: 30%;
      text-align: right;
    }
  }

  main {
    width: 100%;
  }

  @media (max-width: 800px) {
    .page-title-and-description {
      flex-direction: column;

      h1 {
        max-width: 100%;
      }

      h3 {
        max-width: 100%;
        text-align: left;
      }
    }
  }
</style>

<html lang="en">
  <head>
    <title>{pageTitle}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover" shrink-to-fit="no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content={seoDescription} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={seoDescription} />
    <meta property="og:image" content={pageImage} />
    <meta property="og:type" content="website" />
    <meta property="twitter:title" content={pageTitle} />
    <meta property="twitter:description" content={seoDescription} />
    <meta property="twitter:image" content={pageImage} />
    <meta name="twitter:card" content="summary_large_image"/>
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.futuresuper.com.au/images/favicon/favicon-32.png">
    <link rel="apple-touch-icon" href="https://www.futuresuper.com.au/images/favicon/apple-touch-icon.png">
    <link rel="stylesheet" href="{Astro.resolve('../styles/global.css')}">
  </head>
  <body>
    {!hideHeader && <Header client:load />}
    <main >
      {!hideHeader && <div class="behind-header" />}

      <div style={pageHeadBackgroundColour ? 'background-color:' + pageHeadBackgroundColour : ''}>
        <div class="container page-header" >
          {!customHeader &&
            <div class="page-title-and-description">
              { !hideTitle && <h1>{title ? title : "Future Super"}</h1> }
              { !hideDescription && <h3>{pageDescription ? pageDescription : seoDescription}</h3>}
            </div>
          }
          { intro && !customHeader && <p>{intro}</p>}
          <slot name="customHeader" />
        </div>
      </div>

      <div class={!noContainer ? "container" : ""}>
        <slot />
      </div>

      {relatedPages && <RelatedPages relatedPages={relatedPages} />}
    </main>
    <Footer client:visible />
  </body>
</html>