---
import BaseLayout from "@layouts/BaseLayout.astro";
const { content } = Astro.props;
---

<style lang="scss">
  @use "../styles/" as *;
</style>

<BaseLayout
  title={content.frontmatter.title}
  description={content.frontmatter.description}
  hideDescription={true}
  intro={content.frontmatter.intro}
  skinnyContainer
  image={content.frontmatter.image}
>
  <slot />

  {
    content.frontmatter.title === "Reconciliation" && (
      <div>
        <a href="/rap" class="button">
          Download our Reconciliation Action Plan
        </a>
      </div>
    )
  }
</BaseLayout>
